# ==========================
# Python
# ==========================

venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
*.env

# Database
*.db

# Reports
reports/
*.pdf

# ==========================
# Node
# ==========================

node_modules/
npm-debug.log*

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Build
# ==========================

dist/
build/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db